/* Mobile - first!!! */

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  font-size: 2rem;
}

header {
  background-color: red;
  padding: 1rem;
  color: white;
}

nav {
  background-color: orange;
  padding: 1rem;
  color: white;
}

section {
  background-color: goldenrod;
  padding: 1rem;
  color: white;
}

section p {
  margin-block-end: 1rem;
}

article {
  background-color: green;
  padding: 1rem;
  color: white;
  margin-block-end: 1rem;
}

aside {
  background-color: darkslateblue;
  padding: 1rem;
  color: white;
}

footer {
  background-color: darkmagenta;
  padding: 1rem;
  color: white;
}

/*käytetään flexia section- ja aside-elementtien saamiseksi rinnakkain*/
/* Sääntö vanhempaan */

.lapset-rinnakkain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*sääntö ko. vanhemman lapsille*/

.lapset-rinnakkain > * {
  flex-basis: 100%;
  flex-grow: 1;
}

/*lapset rinnakain nämäkin lapset allekkain*/

.lapset-rinnakkain .tama-rinnakkain {
  flex-basis: 100%;
}

/* säännöt mobiili suuremille näytölle*/

@media only screen and (min-width: 426px) {
  /* isolla näytöllä nämä lapset rinnakkain */
  .lapset-rinnakkain .tama-rinnakkain {
    flex-basis: 0;
  }
}
